/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-height: auto;
    font-family: 'Montserrat', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* --- */

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --off-white: hsl(0, 0%, 97%);
    --light-green: hsl(120, 71%, 30%, 0.4);
    --dark-green: rgb(22, 131, 22);
}

/* dialog */

dialog {
    animation: fade-out 0.5s ease-out;
    align-self: center;
    justify-self: center;
    width: 70%;
}

dialog[open] {
    animation: fade-in 0.5s ease-out;
}

dialog[open]::backdrop {
    animation: backdrop-fade-in 0.5s ease-out forwards;
}

/* Animation keyframes */

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scaleY(0);
        display: none;
    }

    100% {
        opacity: 1;
        transform: scaleY(1);
        display: block;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: scaleY(1);
        display: block;
    }

    100% {
        opacity: 0;
        transform: scaleY(0);
        display: none;
    }
}

@keyframes backdrop-fade-in {
    0% {
        background-color: rgb(0 0 0 / 0%);
    }

    100% {
        background-color: rgb(0 0 0 / 25%);
    }
}

/* --- */

#projectForm,
#taskForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

#projectForm input,
#projectForm select,
#projectForm textarea,
#taskForm input,
#taskForm select,
#taskForm textarea {
    margin-bottom: 0.5rem;
}

form legend {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

#projectFormButtons,
#taskFormButtons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.form-button {
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    color: #FFFFFF;
}

.success-button {
    background-color: #5995DA;
}

.success-button:hover {
    background-color: #76AEED;
}

.success-button:active {
    background-color: #407FC7;
}

.danger-button {
    background-color: hsl(0, 100%, 60%);
}

.danger-button:hover {
    background-color: hsl(0, 100%, 70%);
}

.danger-button:active {
    background-color: hsl(0, 100%, 50%);
}


/* mobile nav */
nav {
    position: fixed;
    bottom: 0;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--off-white);
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.15) 0px -10px 10px -10px;
}

nav button {
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: inherit;
}

nav button svg {
    width: 40px;
    height: 40px;
    fill: var(--dark-green);
}

#showTaskForm {
    padding: 0.5rem;
    background-color: var(--dark-green);
    color: white;
}

#showTaskForm svg {
    fill: white;
}

.activePage {
    border-top: 5px solid var(--light-green);
}

.toggleHidden {
    display: none;
}

/* --- */

/* header */

#header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
    background-color: var(--off-white);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 3px -8px;

}

#header h1 {
    color: hsl(120, 71%, 30%);
}

/* --- */

/* content */


.TaskContent {
    margin-top: 7vh;
    margin-bottom: 12vh;
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(60px, auto));
    align-items: center;
    overflow: auto;
    gap: 1rem;
    min-height: auto;
}

.ProjectList {
    margin-top: 7vh;
    margin-bottom: 12vh;
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(82px, auto));
    align-items: center;
    overflow: auto;
    gap: 1rem;
    min-height: auto;
}

#showProjectForm {
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    color: #FFFFFF;
    background-color: var(--dark-green);
}

#showProjectForm:active {
    background-color: var(--light-green);
}



/* ---- */

/* Task card */

.taskCard {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--off-white);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 8px;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    gap: 5px;
    align-items: center;
    height: 100%;

    /* when deleting */
    opacity: 1;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
}

.taskCard input[type='checkbox'] {
    width: 25px;
    height: 25px;
    justify-self: center;
}

.taskCard p {
    font-weight: bold;
    overflow: auto;
    font-size: large;
    cursor: pointer;
}

.taskCard svg {
    width: 2rem;
    height: 2rem;
}

.checkedTitle {
    text-decoration: 2px line-through;
    opacity: 40%;
}

.priority_Urgent {
    border-left: 4px solid red;
}

.priority_Important {
    border-left: 4px solid yellow;
}

.priority_LowPriority {
    border-left: 4px solid lightblue;
}

.deleteIcon {
    fill: var(--dark-green);
    cursor: pointer;
}


.deleteIcon:hover {
    fill: hsl(0, 100%, 60%);
}

.deleteIcon:active {
    fill: hsl(0, 100%, 50%);
}

/* --- */

/* show task page  */

.showTask {
    margin-top: 7vh;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showTaskWrapper {
    border: 1px solid var(--off-white);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    padding: 1rem;
    margin-top: 2rem;
    width: 100%;
}

.showTaskHeader {
    display: flex;
    align-items: center;
}

.showTaskHeader h2 {
    margin: 1rem;
    word-break: break-word;
}

.showTaskHeader svg {
    width: 3rem;
    height: 3rem;
    fill: var(--dark-green);
    margin-right: 1rem;
}

.showTaskMain p {
    margin-bottom: 0.5rem;
}

.showTaskFooter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1.5rem;
}

.showTaskCreatedDate {
    opacity: 50%;
}

/* --- */

/* project list page  */

.uncheckedIcon,
.checkedIcon {
    fill: var(--dark-green);
}

.taskCounter,
.projectCompleted {
    border-radius: 80%;
    border: 1px solid var(--light-green);
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.ProjectPageTitle {
    font-size: xx-large;
}

.projectCompleted {
    display: none;
}

.taskCounter {
    background: radial-gradient(var(--off-white), var(--light-green));
}

.pageHeader {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4px;
    align-items: center;
}

.pageHeader h2,
.pageHeaderToday h2 {
    font-size: xx-large;
}

.DeleteIconPage,
.EditIconPage {
    width: 2rem;
    height: 2rem;

    fill: var(--dark-green)
}

.EditIconPage:hover {
    fill: #76AEED;
}

.EditIconPage:active {
    fill: #407FC7;
}

.DeleteIconPage:hover {
    fill: hsl(0, 100%, 70%);
}

.DeleteIconPage:active {
    fill: hsl(0, 100%, 50%);
}

/* --- */

/* desktop */

@media only screen and (min-width: 700px) {
    #taskForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 5fr 1fr;
    }

    #taskForm legend {
        grid-column: -1/1;
    }

    #taskFormButtons {
        grid-column: -1/1;
    }

    #projectFormButtons {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    dialog {
        width: 50%;
    }

    /* side nav */

    body {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr 9fr;
        min-height: 100vh;
        gap: 0;
    }

    #content {
        min-width: 100%;
    }

    #header {
        position: relative;
        grid-column: 1/-1;
        text-align: center;
        height: auto;
    }

    .TaskContent {
        padding: 2rem;
        margin: 0;
    }

    .ProjectList {
        padding: 2rem;
        margin: 0;
    }


    nav {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--off-white);
        width: 100%;
        height: 100vh;
        border-right: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.15) 10px 0px 3px -8px;
        font-size: x-large;
    }


    nav button svg {
        width: 40px;
        height: 40px;
        fill: var(--dark-green);
    }

    #showTaskForm {
        padding: 0.5rem;
        background-color: var(--dark-green);
        color: white;
    }

    #showTaskForm svg {
        fill: white;
    }

    .activePage {
        border-right: 5px solid var(--light-green);
        border-top: none;
    }

    .toggleHidden {
        display: none;
    }

    .showTask {
        margin: 0;
    }

    .showTaskWrapper {
        width: 50%;
    }

}